.nowarp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.set-box .add-btn {
  color: #6392E9;
  font-size: 12px;
  padding: 3px 10px;
  cursor: pointer;
  width: 88px;
  height: 30px;
  background: rgba(236,243,255,1);
  border: 1px solid rgba(99,146,233,1);
  border-radius: 15px;
}
.set-box .del-icon{
  color:#6392E9;
  font-size:20px;
  cursor:pointer;
}
.course-setting-collapse {
  margin-top: 18px;
  top: 32px; 
  width: 350px;
  z-index: 999;
}
.add-teacher-btn {
  width: auto;
  height: 32px;
  background: rgba(236,243,255,1);
  border: 1px solid rgba(99,146,233,1);
  border-radius: 4px;
  font-size: 14px;
  color: rgba(99,146,233,1);
}
/*������γ�����*/
.adm-setting-box {
  margin-top: 20px;
  border: 1px solid #EBEEF5;
  padding-bottom: 20px;
}
.adm-setting-box .set-header{
  height:60px;
  line-height:60px;
  background:#F5F7FA;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  padding:0 18px;
}
.adm-setting-box .set-header .name{
  font-size:16px;
  font-weight:bold;
  color:#444444;
}
.adm-setting-box .set-body > li {
  /*height: 60px;*/
  line-height: 60px;
  padding: 0 18px;
  border-bottom: 1px solid #EBEEF5;
  /*display: inline-block;*/
  width: 100%;
}
.adm-setting-box .set-body > li:nth-child(2n) {
  background: rgba(250,250,250,1);
}
.adm-setting-box .set-body > li .crouse-name {
  font-size: 14px;
  /*font-weight:bold;*/
  color: #444444;
  margin-right: 12px;
  width:80px;
}
.adm-setting-box .set-body>li .mlr{
  margin:0 14px;
}
.adm-setting-box .set-body>li .del-icon {
  color: #6392E9;
  font-size: 20px;
  cursor: pointer;
}
.adm-setting-box .set-footer{
  margin-top:18px;
  padding-left:18px;
}

/*�߰���ѡ����--ѡ������*/
.go-crouse-set-box{

}
.go-crouse-set-box .set-header{
  height:50px;
  line-height:50px;
  background:#F5F7FA;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  padding:0 18px;
}
.go-crouse-set-box .del-icon{
  color:#6392E9;
  font-size:20px;
  cursor:pointer;
}
.go-crouse-set-box .add-btn{
  /*background:#6392E9;
  color:rgba(255,255,255,1);
  font-size:14px;
  padding:4px 8px;
  border-radius:20px;
  cursor:pointer;*/
}
/*走班 开班计划*/
.go-class-set-box {
  margin-bottom: 20px;
  border-radius: 4px;
}
.go-class-set-box .set-header {
  height: 55px;
  line-height: 55px;
}
.go-class-set-box .go-body-block {
  height: 60px;
  line-height: 60px;
  padding: 0 18px;
}
.go-class-set-box .go-body-block:nth-child(2n) {
  background: rgba(250,250,250,1);
}
.go-class-set-box .block-nature {
  display: flex;
  align-items: center;
}
/*����ʽ�γ�����*/
.take-set-box {
  margin-top: 20px;
  border: 1px solid rgba(214,219,223,1);
  border-radius: 4px;
}
.take-set-box .set-header {
  /*height: 62px;
  line-height: 62px;*/
  background: #F3F3F3;
  padding: 16px 10px;
}
.take-set-box .take-body-block {
  height: 60px;
  line-height: 60px;
  padding: 0 18px;
}
.take-set-box .take-body-block:nth-child(2n) {
  background: rgba(250,250,250,1);
}
.take-set-box .subject-name {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}
.take-set-box  .add-icon{
  color:#6392E9;
  font-size:20px;
  cursor:pointer;
}
.take-set-box  .block-nature {
  margin:0 8px;
}
.take-set-box .block-name{
  margin-right:4px;
}
.take-set-box .span-style {
  width: 160px;
  height: 32px;
  line-height: 32px;
  padding: 0 5px;
  border: 1px solid #dcdee2;
  border-radius: 5px;
  color: #515a6e;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.take-table {
  text-align: left;
  cursor: pointer;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  margin-bottom:20px;
}
.take-table tr {
  border-bottom: 1px solid #EBEEF5;
  height: 52px;
  line-height: 52px;
}
.take-table thead th {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: normal;
  color: #606266;
  padding-left: 10px;
}

.take-table tbody td {
  box-sizing: border-box;
  vertical-align: middle;
  padding-left: 10px;
}
.take-table .take-input {
  width: 160px;
}
/*=====һ��һ�α�======*/
/*�ſο�λ*/
.arranging {
}
/*�������ſβ���*/
.StepsHeader-box {
  background-color: #fff;
  padding: 64px 23px;
  min-height: 785px;
  background-image:url(/image/PC/csmsTimeTable/StepsHeaderBg.png);
  background-position:center right;
  background-repeat:no-repeat;
}
.StepsHeader-tit {
  height: 26px;
  width: 23px;
  margin-right: 9px;
}
.setps-ul{
  width:60%;
}
  .setps-ul > li {
      width: 166px;
      height: 100px;
      border: 1px solid #d4e4ff;
      box-shadow: 0 0 9px 2px rgba(134,180,255,.35);
      cursor: pointer;
      display: inline-block;
      transition: all 0.8s;
      vertical-align: top;
      border-radius: 8px;
      margin: 0 14.5px 44px;
      background: #fff;
  }

      .setps-ul > li span {
          display: block;
          font-size: 16px;
          color: #1f2f3d;
          text-align: center;
      }

  .setps-ul .power-box-img {
      width: 60px;
      height: 45px;
      margin: 12px auto 7px;
      text-align: center;
  }

      .setps-ul .power-box-img .power-box-number {
          display: inline-block;
          font-size: 40px !important;
          font-weight: 400;
          line-height: 40px;
          color: #4285f4 !important;
          width: 60px;
          text-align: center;
          padding-top: 7px;
          background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(252, 252, 255)), to(rgb(0, 51, 255)));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: 0 auto;
      }

  .setps-ul > .prohibit {
      cursor: default;
      border: 1px solid #ddd;
      background: #f9f9f9;
  }

      .setps-ul > .prohibit .power-box-img {
          opacity: 0.3;
      }

      .setps-ul > .prohibit span {
          color: #ccc;
      }
