.result-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.result-list li {
  width: 303px;
  height: 168px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(183, 183, 183, 0.5);
  border-radius: 4px;
  margin: 24px 34px;
  display: inline-block;
}
.result-list .add-tit {
  cursor: pointer;
  background: #f2f8ff;
  width: 200px;
  text-align: center;
}
.result-list .add-tit i {
  padding: 36px 0;
}
.result-list li h4 {
  min-width: 250px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5px;
  background: #74ab1d;
  background: -webkit-linear-gradient(to left, top, #66cffe, #2b7aeb);
  background: -o-linear-gradient(to bottom, right, #66cffe, #2b7aeb);
  background: -moz-linear-gradient(to bottom, right, #66cffe, #2b7aeb);
  background: linear-gradient(to bottom right, #66cffe, #2b7aeb);
  transition: all 1s;
  opacity: 0.9;
  height: 37px;
  line-height: 37px;
}
.result-list li .class-info {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
}
.result-list li .class-info span {
  display: inline-block;
}
.result-list li .class-info .class-name {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.result-list i {
  cursor: pointer;
}
.modal-crouse {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.modal-crouse li {
  padding: 10px;
  height: 88px;
  width: 154px;
  text-align: center;
  border-radius: 6px;
  margin: 0 10px 16px;
  cursor: pointer;
  color: #4285f4;
  border: 1px solid #d4e4ff;
  overflow: hidden;
  transition: all 1s;
  background: #fff;
}
.modal-crouse li:hover {
  background: -webkit-linear-gradient(to left, top, #66cffe, #2b7aeb);
  background: -o-linear-gradient(to bottom, right, #66cffe, #2b7aeb);
  background: -moz-linear-gradient(to bottom, right, #66cffe, #2b7aeb);
  background: linear-gradient(to bottom right, #66cffe, #2b7aeb);
  color: #fff;
  transition: all 1s;
}
.modal-crouse li.is-active {
  background: -webkit-linear-gradient(to left, top, #66cffe, #2b7aeb);
  background: -o-linear-gradient(to bottom, right, #66cffe, #2b7aeb);
  background: -moz-linear-gradient(to bottom, right, #66cffe, #2b7aeb);
  background: linear-gradient(to bottom right, #66cffe, #2b7aeb);
  color: #fff;
  transition: all 1s;
}
.modal-crouse li h3 {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal-crouse li p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ivu-table th {
  border-top: 1px solid #EBEEF5;
  background: #f9f9f9;
}
.ivu-table td,
.ivu-table th {
  border-left: 1px solid #EBEEF5;
}
.query-table {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-spacing: 0;
  text-align: center;
}
.query-table thead tr th {
  background: #f2f3f5;
  border-right: 1px solid #fff;
}
.query-table tbody {
  border: 1px solid #eee;
}
.query-table tbody tr td:nth-child(1) {
  border-right: 1px solid #eee;
}
.query-table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.query-table td,
.query-table th {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  /*border: 1px solid #eee;*/
  padding: 10px 18px;
}
.query-table thead tr th:nth-child(1) {
  border-top-left-radius: 6px;
}
.query-table thead tr th:last-child {
  border-top-right-radius: 6px;
  border-right: 0px;
}
.box-header {
  height: 44px;
  background: #eef5ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.header-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
}
.box-header .sub-name {
  font-size: 16px;
  font-weight: bold;
  color: #4196ff;
  margin-left: 14px;
}
.box-body {
  height: 78px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-footer {
  height: 46px;
  background: #f9fafb;
  display: flex;
  align-items: center;
}
.box-footer .group-one {
  width: 151px;
  height: 46px;
  color: #999999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-footer .group-one .ivu-icon {
  font-size: 18px;
}
.box-footer .del-btn:hover,
.box-footer .del-btn:hover .ivu-icon {
  color: #FDA8A4;
}
.box-footer .edit-btn:hover,
.box-footer .edit-btn:hover .ivu-icon {
  color: #4196FF;
}
